﻿@model AisleOfPlans.View_Models.ServiceRequestViewModel


<div>
    <h3>Please upload your Proof of Payment to complete</h3>

    <hr />

@using (Html.BeginForm(Html.BeginForm("Complete", "Request", FormMethod.Post, new { enctype = "multipart/form-data" })))
{
    @Html.HiddenFor(model => model.Item_ID)
@Html.HiddenFor(model => model.WeddingID)
    @Html.HiddenFor(model => model.Request_ID)
    @Html.HiddenFor(model => model.ItemName)
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.ItemName)
        </dd>

        <dd>
            <img src=@Model.Image_URL alt=@Model.ItemName/>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestDetails)
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.RequestDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Requested)
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.Date_Requested)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proof)
        </dt>

        <dd >
            @Html.TextBoxFor(model => model.proof, htmlAttributes: new { @type = "file", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.proof, "", new { @class = "text-danger" })
            <strong class="label-danger">@ViewBag.ErrorMessage</strong>
        </dd>

    </dl>
   
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Complete" class="btn btn-default" /> |
        </div>
    }
    @Html.ActionLink("Back to List", "Index", new { status = "Pending" })

</div>
