﻿@model AisleOfPlans.Models.ServiceRequestViewModel

<h3>Are you sure you want to decline this?</h3>
<div>
    <h4>ServiceRequestViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Request_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image_URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image_URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Request_Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request_Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Requested)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Requested)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Decline" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
