﻿@model AisleOfPlans.View_Models.ServiceRequestViewModel

<div>
    <h4>Completed Request</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image_URL)
        </dt>

        <dd>
            <img class="img-thumbnail"width="100" height="100"  alt="@Model.ItemName" src="@Model.Image_URL"/>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Request_Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request_Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Requested)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Requested)
        </dd>

    </dl>

     @if(Model.Status.CompareTo("Complete")==0)
     {
         <a href="@Model.proofLocation">View Proof of Payment</a>
         <i>|</i>
     }
     @Html.ActionLink("Back to List", "Index", new {status = "Pending" })

</div>
