﻿@model IEnumerable<AisleOfPlans.View_Models.ServiceRequestViewModel>

@{
    ViewBag.Title = "Index";

}

<h2>Requests</h2>

    @Html.ActionLink("Pending", "Index", "Request", routeValues: new { status = "Pending" }, 
    htmlAttributes: new { @class = "btn btn-primary" })

    @Html.ActionLink("Accepted", "Index", "Request", routeValues: new { status = "Accepted" }, 
    htmlAttributes: new { @class = "btn btn-primary" })

    @Html.ActionLink("Complete", "Index", "Request", routeValues: new { status = "Complete" },
    htmlAttributes: new { @class = "btn btn-primary" })

    @Html.ActionLink("Canceled", "Index", "Request", routeValues: new { status = "Canceled" },
    htmlAttributes: new { @class = "btn btn-primary" })

    @Html.ActionLink("Declined", "Index", "Request", routeValues: new { status = "Declined" },
    htmlAttributes: new { @class = " btn btn-primary" })


<table class="table" id="options">
    <tr>
        <th>
            <label> Item</label>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Requested)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img class="img-thumbnail" width="100" height="100" src= "@item.Image_URL" alt=@item.ItemName/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Requested)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
           @Html.ActionLink("Details", "Details", new { id = item.Request_ID }, htmlAttributes: new { @class = "btn btn-primary" })
        @if (Session.Contents["VendorID"] != null && item.Status != "Declined" &&
                        item.Status != "Canceled" && item.Status != "Complete")//if statement for vendor
        {
            if(item.Status != "Accepted" && item.Status != "Complete")
            {
                @Ajax.ActionLink("Decline", "Decline", routeValues: new {id = item.Request_ID }, ajaxOptions: new AjaxOptions
               {
                   UpdateTargetId = "options",
                   HttpMethod = "POST",
                   InsertionMode = InsertionMode.Replace
               }, htmlAttributes: new { @class = "btn btn-primary" })

                @Ajax.ActionLink("Accept", "Accept", routeValues: new { id = item.Request_ID }, ajaxOptions: new AjaxOptions
             {
                 UpdateTargetId = "options",
                 HttpMethod = "POST",
                 InsertionMode = InsertionMode.Replace
             }, htmlAttributes: new { @class = "btn btn-primary" })
            }
        }

        @if (Session.Contents["ClientID"] != null && item.Status != "Declined" &&
                        item.Status != "Canceled" && item.Status != "Complete")//if statement for client
        {
            if (item.Status != "Complete")
            {
                @Ajax.ActionLink("Cancel", "Cancel", new {id = item.Request_ID },new AjaxOptions
                {
                    UpdateTargetId = "options",
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace
                }, new { @class = "btn btn-primary" });

                if (item.Status != "Pending")
                {
                    @Html.ActionLink("Complete", "Complete", new { id = item.Request_ID }, htmlAttributes: new { @class = "btn btn-primary" })
                }
            }
            else
            {
                @Html.ActionLink("Update", "Update", new { id = item.Request_ID }, htmlAttributes: new { @class = "btn btn-primary" })
            }

        }
       
        </td>
    </tr>
}
</table>

<div>
    @Html.ActionLink("Back to Profile", "Index", "Profile", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
</div>