@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */
body {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #7f7f7f;
  background: #fff;
  height: 100%;
  position: relative;
}

a {
  color: #1FB57B;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #1FB57B;
  outline: none;
}

p {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, figure {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Playfair Display", Arial, serif;
  font-weight: 400;
  margin: 0 0 30px 0;
  letter-spacing: 1px;
}

::-webkit-selection {
  color: #fff;
  background: #1FB57B;
}

::-moz-selection {
  color: #fff;
  background: #1FB57B;
}

::selection {
  color: #fff;
  background: #1FB57B;
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.btn.btn-md {
  padding: 10px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #1FB57B;
  color: chocolate;
  border: 2px solid #1FB57B;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #23cb8a !important;
  border-color: #23cb8a !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #1FB57B;
  border: 2px solid #1FB57B;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #1FB57B;
  color: #fff;
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn.with-arrow:hover {
  padding-right: 50px;
}
.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #1FB57B;
}

.fh5co-social {
  padding: 0;
  margin: 0;
}
.fh5co-social li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.fh5co-social li a {
  font-size: 22px;
  color: #fff;
  padding: 0;
  margin: 0;
  padding: 2px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.fh5co-social li a:hover {
  color: #1FB57B;
}
.fh5co-social li a:hover, .fh5co-social li a:active, .fh5co-social li a:focus {
  outline: none;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 1em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 1em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 1em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 1em;
  }
}

#fh5co-header {
  padding: 40px 0;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}
#fh5co-header:after {
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  content: '';
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
  #fh5co-header {
    margin: 0px 0 0 0;
  }
}
#fh5co-header .header-inner {
  float: left;
  width: 100%;
}
#fh5co-header h1 {
  float: left;
  padding: 0;
  font-weight: 900;
  font-size: 28px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: "Roboto", Arial, sans-serif;
}
#fh5co-header h1 i {
  color: #1FB57B;
}
#fh5co-header h1 a {
  color: black;
}
#fh5co-header h1 a > span {
  color: #1FB57B;
}
#fh5co-header h1 a:hover, #fh5co-header h1 a:active, #fh5co-header h1 a:focus {
  text-decoration: none;
  outline: none;
}
#fh5co-header nav {
  float: right;
  padding: 0;
}
@media screen and (max-width: 768px) {
  #fh5co-header nav {
    display: none;
  }
}
#fh5co-header nav ul {
  padding: 0;
  margin: 0 0 0 0;
}
#fh5co-header nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
#fh5co-header nav ul li a {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  padding: 12px 15px;
  position: relative;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
#fh5co-header nav ul li a i {
  line-height: 0;
  font-size: 20px;
  position: relative;
  top: 3px;
}
#fh5co-header nav ul li a:hover {
  text-decoration: none;
  color: black;
}
#fh5co-header nav ul li a.active, #fh5co-header nav ul li a:focus {
  outline: none;
  text-decoration: none;
  color: white;
  background: #1FB57B;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  border-radius: 40px;
}
#fh5co-header nav ul li.cta {
  margin-left: 20px;
}
#fh5co-header nav ul li.cta a {
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  border: 2px solid #1fb57b;
  color: #1FB57B;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
#fh5co-header nav ul li.cta a:hover {
  color: #fff;
  background: #1FB57B;
}
#fh5co-header nav ul li.cta a:hover:after {
  display: none;
}
#fh5co-header nav ul li.active a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}
#fh5co-header nav ul li.active a:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

.fh5co-heading {
  margin-bottom: 3em;
}
.fh5co-heading h2 {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 34px;
}

.fh5co-grey-bg-section {
  background: rgba(45, 64, 89, 0.06);
}

#fh5co-featured-section,
#fh5co-intro-section,
#fh5co-services-section,
#fh5co-blog-section,
#fh5co-client-section,
#fh5co-work-section,
#fh5co-main-services-section,
#fh5co-about-section,
#fh5co-contact-section {
  padding-bottom: 6em;
}
@media screen and (max-width: 768px) {
  #fh5co-featured-section,
  #fh5co-intro-section,
  #fh5co-services-section,
  #fh5co-blog-section,
  #fh5co-client-section,
  #fh5co-work-section,
  #fh5co-main-services-section,
  #fh5co-about-section,
  #fh5co-contact-section {
    padding: 3em 0;
  }
}

#fh5co-services-section,
#fh5co-blog-section,
#fh5co-client-section,
#fh5co-work-section,
#fh5co-main-services-section,
#fh5co-about-section,
#fh5co-contact-section {
  padding-top: 6em;
}

#fh5co-intro-section {
  padding-top: 6em;
}
#fh5co-intro-section h2 {
  font-weight: 400;
  font-size: 40px;
  font-family: "Playfair Display", Arial, serif;
  letter-spacing: 1px;
  line-height: 50px;
}

.featured-grid, .featured-grid.featured-grid-2 {
  width: 100%;
  height: 510px;
  float: left;
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 992px) {
  .featured-grid, .featured-grid.featured-grid-2 {
    margin-bottom: 30px;
    height: 400px;
  }
}
.featured-grid:after, .featured-grid.featured-grid-2:after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.featured-grid.featured-grid-2 {
  height: 240px;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.9);
}
@media screen and (max-width: 992px) {
  .featured-grid.featured-grid-2 {
    height: 400px;
  }
}
.featured-grid .desc {
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  padding: 30px;
  z-index: 9;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.featured-grid .desc h3 {
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 10px;
}
.featured-grid .desc span {
  color: rgba(255, 255, 255, 0.5);
}
.featured-grid:hover, .featured-grid:focus {
  -webkit-box-shadow: 0px 18px 43px -7px rgba(, 0, 0, 0.32);
  -moz-box-shadow: 0px 18px 43px -7px rgba(0, 0, 0, 0.32);
  -ms-box-shadow: 0px 18px 43px -7px rgba(0, 0, 0, 0.32);
  -o-box-shadow: 0px 18px 43px -7px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 18px 43px -7px rgba(0, 0, 0, 0.32);
}
.featured-grid:hover:after, .featured-grid:focus:after {
  background: rgba( 0, 0, 0.3);
}
.featured-grid:hover .desc, .featured-grid:focus .desc {
  bottom: 0px;
}

.work-inner {
  background: white;
  margin-bottom: 40px;
  -webkit-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
  -ms-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
  -o-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.work-inner .work-grid {
  position: relative;
  width: 100%;
  height: 300px;
  float: left;
  background-size: cover;
  background-position: center center;
  margin-bottom: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.work-inner .work-grid:after {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: 'simple-line-icons';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 130px;
  content: '\e08a';
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  color: #fff;
  font-size: 20px;
}
.work-inner .desc {
  padding: 30px;
  z-index: 9;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.work-inner .desc h3 {
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 10px;
}
.work-inner .desc h3 a {
  color: rgba(0, 0, 0, 0.8);
}
.work-inner .desc h3 a:hover {
  text-decoration: none;
  color: #1FB57B;
}
.work-inner .desc span {
  color: rgba(0, 0, 0, 0.5);
}
.work-inner:hover {
  -webkit-box-shadow: 0px 9px 43px -10px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 9px 43px -10px rgba(0, 0, 0, 0.17);
  -ms-box-shadow: 0px 9px 43px -10px rgba(0, 0, 0, 0.17);
  -o-box-shadow: 0px 9px 43px -10px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 9px 43px -10px rgba(0, 0, 0, 0.17);
}
.work-inner:hover .work-grid:after {
  opacity: 1;
}

#fh5co-services-section {
  position: relative;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1fb57b+0,258dc8+100 */
  background: #1fb57b;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMWZiNTdiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI1OGRjOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(45deg, #1fb57b 0%, #258dc8 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #1fb57b 0%, #258dc8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #1fb57b 0%, #258dc8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fb57b', endColorstr='#258dc8',GradientType=1 );
  /* IE6-8 fallback on horizontal gradient */
}
@media screen and (max-width: 768px) {
  #fh5co-services-section .services-inner {
    margin-bottom: 60px;
  }
}
#fh5co-services-section .services-inner h3 {
  color: white;
}
#fh5co-services-section .services-inner p {
  color: rgba(255, 255, 255, 0.7);
}
#fh5co-services-section .services-inner span {
  display: block;
  margin-bottom: 45px;
}
#fh5co-services-section .services-inner span i {
  font-size: 40px;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.7);
  padding: 23px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#fh5co-services-section .fh5co-heading h2 {
  color: #fff;
}
#fh5co-services-section .fh5co-heading p {
  color: rgba(255, 255, 255, 0.7);
}

#fh5co-main-services-section .services-inner {
  position: relative;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  #fh5co-main-services-section .services-inner {
    margin-bottom: 60px;
  }
}
#fh5co-main-services-section .services-inner .desc {
  padding-left: 8em;
}
#fh5co-main-services-section .services-inner h3 {
  color: rgba(0, 0, 0, 0.7);
}
#fh5co-main-services-section .services-inner span {
  position: absolute;
  top: 30px;
  display: block;
  margin-bottom: 45px;
}
#fh5co-main-services-section .services-inner span i {
  font-size: 40px;
  color: #1fb57b;
  border: 2px solid #1fb57b;
  padding: 23px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.blog-inner {
  background: white;
  -webkit-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
  -ms-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
  -o-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
  overflow: hidden;
  margin-bottom: 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.blog-inner img {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.blog-inner .desc {
  padding: 20px;
}
.blog-inner .desc h3 {
  line-height: 28px;
}
.blog-inner .desc h3 a {
  color: rgba(0, 0, 0, 0.8);
}
.blog-inner .desc h3 a:hover, .blog-inner .desc h3 a:focus {
  text-decoration: none;
}
.blog-inner:hover {
  -webkit-box-shadow: 0px 9px 43px -10px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 9px 43px -10px rgba(0, 0, 0, 0.17);
  -ms-box-shadow: 0px 9px 43px -10px rgba(0, 0, 0, 0.17);
  -o-box-shadow: 0px 9px 43px -10px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 9px 43px -10px rgba(0, 0, 0, 0.17);
}

.testimony {
  background: rgba(45, 64, 89, 0.06);
  padding: 40px 20px 20px 20px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .testimony {
    margin-bottom: 60px;
  }
}
.testimony .quote {
  position: absolute;
  top: -40px;
  left: 50%;
  right: 0;
  margin-left: -30px;
}
.testimony .quote i {
  font-family: "Playfair Display", Arial, serif;
  font-size: 30px;
  width: 80px;
  height: 80px;
  padding-top: 25px;
  color: rgba(45, 64, 89, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  background: white;
  -webkit-box-shadow: 0px 9px 7px -10px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 9px 7px -10px rgba(0, 0, 0, 0.13);
  -ms-box-shadow: 0px 9px 7px -10px rgba(0, 0, 0, 0.13);
  -o-box-shadow: 0px 9px 7px -10px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 9px 7px -10px rgba(0, 0, 0, 0.13);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.testimony blockquote {
  border: none;
  position: relative;
}
.testimony blockquote p {
  font-size: 20px;
  line-height: 1.6em;
  color: #999999;
  font-family: "Playfair Display", Arial, serif;
}
.testimony blockquote span {
  color: rgba(0, 0, 0, 0.7);
}
.testimony blockquote span a {
  font-size: 16px;
}

.about-inner img {
  float: left;
  padding: 10px;
  margin-right: 30px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
  -ms-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
  -o-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
}

.sidebar {
  float: left;
  width: 100%;
  padding-left: 2em;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 992px) {
  .sidebar {
    padding-left: 0 !important;
    border-left: none !important;
  }
}
.sidebar .side {
  margin-bottom: 40px;
}
.sidebar ul {
  margin: 0;
  padding: 0;
}
.sidebar ul li {
  font-family: "Roboto", Arial, sans-serif;
  list-style: none;
  padding: 5px 0;
}
.sidebar ul li a {
  padding-left: 15px;
  color: rgba(0, 0, 0, 0.5);
}
.sidebar ul li a:hover {
  color: #1FB57B;
  text-decoration: none;
}

.googleplus-color {
  color: #dc4e41 !important;
}

.facebook-color {
  color: #3b5998 !important;
}

.twitter-color {
  color: #55acee !important;
}

.contact-info {
  margin-bottom: 4em;
  padding: 0;
}
.contact-info li {
  list-style: none;
  margin: 0 0 20px 0;
  position: relative;
  padding-left: 40px;
}
.contact-info li i {
  position: absolute;
  top: .3em;
  left: 0;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.3);
}
.contact-info li a {
  color: #1FB57B;
}

#map {
  height: 500px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  #map {
    height: 400px;
  }
}
@media screen and (max-width: 480px) {
  #map {
    height: 200px;
  }
}

#fh5co-footer {
  padding: 7em 0;
  float: left;
  width: 100%;
  position: relative;
  background: #262626;
}
@media screen and (max-width: 768px) {
  #fh5co-footer {
    padding: 3em 0;
  }
}
#fh5co-footer h2, #fh5co-footer h3, #fh5co-footer h4 {
  color: rgba(255, 255, 255, 0.8);
}
#fh5co-footer h3 {
  font-size: 18px;
}
#fh5co-footer [class*="col"] {
  padding-bottom: 30px;
}
#fh5co-footer .btn {
  color: #fff;
}
#fh5co-footer .float {
  float: left;
  margin-right: 10%;
}
#fh5co-footer ul {
  padding: 0;
  margin: 0;
}
#fh5co-footer ul li {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
}
#fh5co-footer ul li a {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none !important;
}
#fh5co-footer ul li a:hover {
  color: #fff;
}
#fh5co-footer .fh5co-social li {
  display: block !important;
}
#fh5co-footer .fh5co-social li a {
  font-size: 16px;
}
#fh5co-footer .fh5co-social li i {
  float: left;
  font-size: 20px;
  width: 40px;
}

.fh5co-copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  clear: both;
  margin-top: 40px !important;
  padding: 40px 0 0 0;
}
.fh5co-copyright span {
  display: block;
}
@media screen and (max-width: 480px) {
  .fh5co-copyright {
    text-align: left !important;
  }
  .fh5co-copyright span {
    display: inline;
  }
}

#fh5co-page {
  position: relative;
  z-index: 2;
  background: #fff;
}



#fh5co-page {
  z-index: 2;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}




.fh5co-nav-toggle {
  cursor: pointer;
  text-decoration: none;
}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
  background: #fff;
}
.fh5co-nav-toggle.dark.active i::before, .fh5co-nav-toggle.dark.active i::after {
  background: #fff;
}
.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.fh5co-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 30px;
  height: 2px;
  color: #fff;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #000;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
  content: '';
  width: 30px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.fh5co-nav-toggle.dark i {
  position: relative;
  color: #000;
  background: #000;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle.dark i::before, .fh5co-nav-toggle.dark i::after {
  background: #000;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}

.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
  position: fixed;
  top: 40px;
  right: 20px;
  z-index: 9999;
  display: block;
  margin: 0 auto;
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .fh5co-nav-toggle {
    display: block;
    top: 40px;
  }
}

.js .animate-box {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */
body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  line-height: 1.5;
  background: #fff;
  color: #848484;
  font-weight: 300;
  overflow-x: hidden;
}
body.fh5co-offcanvas {
  overflow-x: hidden;
}

a {
  color: #79c34f;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover {
  text-decoration: none !important;
  color: #79c34f !important;
}

p {
  margin-bottom: 1.5em;
  font-size: 20px;
  color: #848484;
  font-weight: 300;
  font-family: "Source Sans Pro", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #5a5a5a;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}

figure {
  margin-bottom: 2em;
}

::-webkit-selection {
  color: #fcfcfc;
  background: #add992;
}

::-moz-selection {
  color: #fcfcfc;
  background: #add992;
}

::selection {
  color: #fcfcfc;
  background: #add992;
}

#fh5co-header {
  position: relative;
  margin-bottom: 0;
}
@media screen and (max-width: 480px) {
  #fh5co-header .top {
    text-align: center;
  }
}
#fh5co-header .top a {
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 480px) {
  #fh5co-header .top a {
    float: left;
  }
}
#fh5co-header .top a i {
  font-size: 17px;
  line-height: 0;
  position: relative;
  top: 1px;
  padding-right: 7px;
  font-style: normal;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
#fh5co-header .top a:hover {
  color: white !important;
  text-decoration: underline;
}

.fh5co-cover,
.fh5co-hero {
  position: relative;
  height: 800px;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .fh5co-cover,
  .fh5co-hero {
    height: 700px;
  }
}

.fh5co-overlay {
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(141, 113, 96, 0.3);
}

.fh5co-cover {
  background-size: cover;
  background-position: center top;
  position: relative;
}
@media screen and (max-width: 768px) {
  .fh5co-cover {
    heifght: inherit;
    padding: 3em 0;
  }
}
.fh5co-cover .btn {
  padding: 1em 5em;
  opacity: .9;
}
.fh5co-cover.fh5co-cover_2 {
  height: 700px;
}
@media screen and (max-width: 768px) {
  .fh5co-cover.fh5co-cover_2 {
    heifght: inherit;
    padding: 3em 0;
  }
}
.fh5co-cover .desc {
  top: 50%;
  position: absolute;
  width: 100%;
  margin-top: -40px;
  z-index: 2;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .fh5co-cover .desc {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.fh5co-cover .desc h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 300;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .fh5co-cover .desc h2 {
    font-size: 40px;
  }
}
.fh5co-cover .desc span {
  display: block;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}
.fh5co-cover .desc span a {
  color: #fff;
}
.fh5co-cover .desc span a:hover, .fh5co-cover .desc span a:focus {
  color: #fff !important;
}
.fh5co-cover .desc span a.fh5co-site-name {
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.top {
  padding: 10px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.05);
  z-index: 99;
  text-align: right;
}
@media screen and (max-width: 768px) {
  .top {
    text-align: center;
  }
}
.top span {
  margin-left: 20px;
  color: #fff;
  position: relative;
  padding-left: 15px;
}
.top span i {
  font-size: 14px;
  position: absolute;
  left: 0;
  top: 4px;
}
.top span a {
  color: #fff;
}

/* Superfish Override Menu */
.sf-menu {
  margin: 0 !important;
}

.sf-menu {
  float: right;
}

.sf-menu ul {
  box-shadow: none;
  border: transparent;
  min-width: 15em;
  *width: 15em;
}

.sf-menu a {
  color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: .75em 1em;
  font-weight: normal;
  border-left: none;
  border-top: none;
  border-top: none;
  text-decoration: none;
  zoom: 1;
  font-size: 18px;
  border-bottom: none !important;
}
.sf-menu a:hover, .sf-menu a:focus {
  color: #fff !important;
}

.sf-menu li.active {
  border-bottom: 3px solid #fff;
}
.sf-menu li.active a:hover, .sf-menu li.active a:focus {
  color: #fff;
}

.sf-menu li,
.sf-menu ul li,
.sf-menu ul ul li,
.sf-menu li:hover,
.sf-menu li.sfHover {
  background: transparent;
}

.sf-menu ul li a,
.sf-menu ul ul li a {
  text-transform: none;
  padding: .75em 1em;
  letter-spacing: 1px;
}

.sf-menu li:hover a,
.sf-menu li.sfHover a,
.sf-menu ul li:hover a,
.sf-menu ul li.sfHover a,
.sf-menu li.active a {
  color: #fff;
}

.sf-menu ul li:hover,
.sf-menu ul li.sfHover {
  background: transparent;
}

.sf-menu ul li {
  background: transparent;
}

.sf-arrows .sf-with-ul {
  padding-right: 2.5em;
  *padding-right: 1em;
}

.sf-arrows .sf-with-ul:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1em;
  margin-top: -3px;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-top-color: #ccc;
}

.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
  border-top-color: #ccc;
}

.sf-arrows ul .sf-with-ul:after {
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: #ccc;
}

.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
  border-left-color: #ccc;
}

#fh5co-header-section {
  padding: 0;
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  z-index: 2;
  padding-top: 40px;
}

.nav-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  position: relative;
  float: left;
  width: 100%;
}

#fh5co-logo {
  position: relative;
  z-index: 2;
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 35px;
  font-weight: bold;
  float: left;
}
@media screen and (max-width: 768px) {
  #fh5co-logo {
    width: 100%;
    float: none;
    text-align: center;
  }
}
#fh5co-logo a {
  color: #fff;
}
#fh5co-logo a:hover, #fh5co-logo a:focus {
  color: #fff !important;
}

#fh5co-menu-wrap {
  position: relative;
  z-index: 2;
  display: block;
  float: right;
}
#fh5co-menu-wrap .sf-menu a {
  padding: 2em .75em;
}

#fh5co-primary-menu > li > ul li.active > a {
  color: #79c34f !important;
}
#fh5co-primary-menu > li > .sf-with-ul:after {
  border: none !important;
  position: absolute;
  float: right;
  margin-right: 5px;
  top: 50%;
  margin-top: -7px;
  content: "\e64b";
  color: #1fb5f6;
}
#fh5co-primary-menu > li > ul li {
  position: relative;
}
#fh5co-primary-menu > li > ul li > .sf-with-ul:after {
  border: none !important;
  position: absolute;
  float: right;
  margin-right: 10px;
  top: 13px;
  font-size: 12px;
  content: "\e649";
  color: rgba(255, 255, 255, 0.5);
}

#fh5co-primary-menu .fh5co-sub-menu {
  padding: 10px 7px 10px;
  background: #fff;
  left: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
#fh5co-primary-menu .fh5co-sub-menu > li > .fh5co-sub-menu {
  left: 100%;
}

#fh5co-primary-menu .fh5co-sub-menu:before {
  position: absolute;
  top: -9px;
  left: 20px;
  width: 0;
  height: 0;
  content: '';
}

#fh5co-primary-menu .fh5co-sub-menu:after {
  position: absolute;
  top: -8px;
  left: 21px;
  width: 0;
  height: 0;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  border-bottom: 8px solid white;
  border-left: 8px solid transparent;
  content: '';
}

#fh5co-primary-menu .fh5co-sub-menu .fh5co-sub-menu:before {
  top: 6px;
  left: 100%;
}

#fh5co-primary-menu .fh5co-sub-menu .fh5co-sub-menu:after {
  top: 7px;
  right: 100%;
  border: none !important;
}

.site-header.has-image #primary-menu .sub-menu {
  border-color: #ebebeb;
  -webkit-box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
  -ms-box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
  -o-box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
  box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
}
.site-header.has-image #primary-menu .sub-menu:before {
  display: none;
}

#fh5co-primary-menu .fh5co-sub-menu a {
  letter-spacing: 0;
  padding: 0 15px;
  font-size: 18px;
  line-height: 34px;
  color: #575757 !important;
  text-transform: none;
  background: none;
}
#fh5co-primary-menu .fh5co-sub-menu a:hover {
  color: #79c34f !important;
}

#fh5co-work-section,
#fh5co-services-section,
#fh5co-content-section,
#fh5co-work-section_2 {
  padding: 7em 0;
}
@media screen and (max-width: 768px) {
  #fh5co-work-section,
  #fh5co-services-section,
  #fh5co-content-section,
  #fh5co-work-section_2 {
    padding: 4em 0;
  }
}

h3.heading-section {
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  padding-top: 15px;
  font-weight: bold;
}
h3.heading-section:before {
  position: absolute;
  content: '';
  top: 0;
  width: 30px;
  height: 2px;
  background: #79c34f;
}

.fh5co-grid {
  height: 302px;
  background-size: cover;
  background-position: center center;
  margin-bottom: 30px;
  position: relative;
}
@media screen and (max-width: 480px) {
  .fh5co-grid {
    height: 400px;
  }
}
.fh5co-grid .image-popup {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.fh5co-grid .image-popup .prod-title {
  position: absolute;
  top: 50%;
  bottom: 20px;
  left: 20px;
  right: 20px;
  margin-top: -25px;
}
.fh5co-grid .image-popup .prod-title h3 {
  margin-bottom: 10px;
  color: #fff;
  font-size: 20px;
}
.fh5co-grid .image-popup .prod-title span {
  color: #fff;
}
.fh5co-grid:hover .image-popup {
  opacity: 1;
}

.work-wrap-bg {
  padding-top: 3em;
  background: rgba(0, 0, 0, 0.03);
}

.work-wrap {
  height: 100vh;
  width: 100vw;
  content: 'viewport-units-buggyfill; height:100vh; width:100vw';
  display: table;
  position: relative;
  margin-bottom: 0;
}
.work-wrap .fh5co-project-inner {
  display: table-cell;
  vertical-align: middle;
  height: 100vh;
  width: 100vw;
  content: 'viewport-units-buggyfill; height:100vh; width:100vw';
  position: relative;
}
@media screen and (max-width: 768px) {
  .work-wrap .fh5co-project-inner {
    float: left;
    width: 100%;
    height: inherit !important;
    padding: 3em 0;
    width: 100vw;
    content: 'viewport-units-buggyfill; width:100vw';
  }
}
.work-wrap .fh5co-imgs {
  height: calc(100% - 50%);
  position: relative;
}
@media screen and (max-width: 768px) {
  .work-wrap .fh5co-imgs {
    margin-bottom: 80px;
  }
}
.work-wrap .fh5co-imgs .img-holder-1,
.work-wrap .fh5co-imgs .img-holder-2 {
  position: absolute;
}
@media screen and (max-width: 768px) {
  .work-wrap .fh5co-imgs .img-holder-1,
  .work-wrap .fh5co-imgs .img-holder-2 {
    position: relative;
  }
}
.work-wrap .fh5co-imgs .img-holder-1 img,
.work-wrap .fh5co-imgs .img-holder-2 img {
  max-width: 100%;
  -webkit-box-shadow: 6px 24px 61px -12px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 6px 24px 61px -12px rgba(0, 0, 0, 0.49);
  -ms-box-shadow: 6px 24px 61px -12px rgba(0, 0, 0, 0.49);
  -o-box-shadow: 6px 24px 61px -12px rgba(0, 0, 0, 0.49);
  box-shadow: 6px 24px 61px -12px rgba(0, 0, 0, 0.49);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.work-wrap .fh5co-imgs .img-holder-1 {
  left: 0;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .work-wrap .fh5co-imgs .img-holder-1 {
    right: 0;
  }
}
.work-wrap .fh5co-imgs .img-holder-2 {
  bottom: -2em;
  right: 50px;
}
@media screen and (max-width: 768px) {
  .work-wrap .fh5co-imgs .img-holder-2 {
    position: absolute;
  }
}
@media screen and (max-width: 480px) {
  .work-wrap .fh5co-imgs .img-holder-2 {
    right: 30px;
    bottom: -1em;
  }
  .work-wrap .fh5co-imgs .img-holder-2 img {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    max-width: 100%;
    height: 194px;
  }
}
.work-wrap.fh5co-reverse .img-holder-1 {
  left: auto;
  right: 0;
}
.work-wrap.fh5co-reverse .img-holder-1 img {
  text-align: right;
}
.work-wrap.fh5co-reverse .img-holder-2 {
  bottom: -2em;
  right: auto;
  left: 50px;
}
@media screen and (max-width: 768px) {
  .work-wrap.fh5co-reverse .img-holder-2 {
    position: absolute;
    left: auto;
    right: 50px;
  }
}
@media screen and (max-width: 480px) {
  .work-wrap.fh5co-reverse .img-holder-2 {
    right: 30px;
    bottom: -1em;
  }
  .work-wrap.fh5co-reverse .img-holder-2 img {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    max-width: 100%;
    height: 194px;
  }
}
.work-wrap .fh5co-text {
  padding-top: 0;
}
.work-wrap .fh5co-text span {
  text-transform: uppercase;
  display: block;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
}
.work-wrap .fh5co-text h2 {
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
  text-transform: uppercase;
}
.work-wrap .fh5co-text p {
  color: rgba(0, 0, 0, 0.5);
}

.services {
  margin-bottom: 5em;
}
.services span {
  margin-bottom: 25px;
  display: inline-block;
}
.services span i {
  font-size: 50px;
  color: rgba(0, 0, 0, 0.3);
}
.services h3 {
  font-size: 20px;
  font-weight: 400;
}

#fh5co-services, #fh5co-about, #fh5co-contact {
  padding: 7em 0;
}
@media screen and (max-width: 768px) {
  #fh5co-services, #fh5co-about, #fh5co-contact {
    padding: 4em 0;
  }
}

#fh5co-contact .form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 400;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
#fh5co-contact .form-control:focus, #fh5co-contact .form-control:active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
#fh5co-contact input[type="text"] {
  height: 50px;
}
#fh5co-contact .form-group {
  margin-bottom: 30px;
}

.fh5co-testimonial {
  border-right: 1px solid rgba(0, 0, 0, 0.06);
}
@media screen and (max-width: 768px) {
  .fh5co-testimonial {
    border-right: 0;
    margin-bottom: 80px;
  }
}
.fh5co-testimonial h2 {
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 50px;
}
.fh5co-testimonial figure {
  margin-bottom: 20px;
  background-size: cover;
}
.fh5co-testimonial figure img {
  width: 88px;
  height: 88px;
  background-size: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.fh5co-testimonial blockquote {
  border: none;
  margin-bottom: 20px;
}
.fh5co-testimonial blockquote p {
  font-style: italic;
  font-size: 26px;
  line-height: 1.6em;
  color: #555555;
}
.fh5co-testimonial span {
  font-style: italic;
}

.fh5co-about-us h2 {
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 50px;
}
.fh5co-about-us img {
  margin-bottom: 30px;
  background-size: cover;
  width: 100%;
}
.fh5co-about-us a {
  font-size: 18px;
}

#fh5co-blog-section, #fh5co-start-project-section {
  background: #184bde;
  padding: 5em 0;
}
#fh5co-blog-section h3.heading-section, #fh5co-start-project-section h3.heading-section {
  color: #fff;
}
#fh5co-blog-section p, #fh5co-start-project-section p {
  color: rgba(255, 255, 255, 0.7);
}

.fh5co-blog {
  width: 100%;
  height: 385px;
  background-size: cover;
  background-position: center center;
  margin-bottom: 30px;
  position: relative;
  -webkit-box-shadow: 10px 27px 78px -15px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 10px 27px 78px -15px rgba(0, 0, 0, 0.57);
  box-shadow: 10px 27px 78px -15px rgba(0, 0, 0, 0.57);
}
@media screen and (max-width: 768px) {
  .fh5co-blog {
    width: 100%;
  }
}
.fh5co-blog:hover, .fh5co-blog:focus {
  width: 100%;
  -webkit-box-shadow: 10px 27px 78px -15px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 10px 27px 78px -15px rgba(0, 0, 0, 0.65);
  box-shadow: 10px 27px 78px -15px rgba(0, 0, 0, 0.65);
}
.fh5co-blog .image-popup {
  position: absolute;
  padding: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.fh5co-blog .image-popup span {
  color: #fff;
  margin-bottom: 20px;
  display: inline-block;
  padding: 4px 15px;
  background: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}
.fh5co-blog .image-popup h3 {
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}
.fh5co-blog .image-popup p {
  color: rgba(255, 255, 255, 0.5);
}
.fh5co-blog .image-popup:hover, .fh5co-blog .image-popup:focus {
  background: rgba(0, 0, 0, 0.3);
}
.fh5co-blog .image-popup:hover p, .fh5co-blog .image-popup:focus p {
  color: rgba(255, 255, 255, 0.7);
}

#fh5co-start-project-section h2 {
  color: white;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  #fh5co-start-project-section h2 {
    font-size: 30px;
  }
}
#fh5co-start-project-section a:hover, #fh5co-start-project-section a:focus, #fh5co-start-project-section a:active {
  color: white !important;
}

#footer {
  background: #222831;
  padding: 60px 0 40px;
}
#footer p {
  color: rgba(255, 255, 255, 0.3);
  letter-spacing: 1px;
  font-size: 14px;
  text-transform: uppercase;
}
#footer p a {
  color: rgba(255, 255, 255, 0.5);
}
#footer .footer-menu {
  float: right;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  #footer .footer-menu {
    text-align: center;
    float: left;
  }
}
#footer .footer-menu li {
  display: inline-block;
  margin-left: 30px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  #footer .footer-menu li {
    margin: 0 0 0 7px;
  }
}
#footer .footer-menu li a {
  color: rgba(255, 255, 255, 0.5);
}
#footer .footer-menu li:first-child {
  margin-left: 0;
}

.btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.btn-primary {
  background: #79c34f;
  color: #fff;
  border: none !important;
  border: 2px solid transparent !important;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  box-shadow: none;
  background: #79c34f;
  color: #fff !important;
}
.btn:hover, .btn:active, .btn:focus {
  background: #393e46 !important;
  color: #fff;
  outline: none !important;
}
.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
  border-color: transparent;
}

.js .animate-box {
  opacity: 0;
}

#fh5co-wrapper {
  overflow-x: hidden;
  position: relative;
}

#fh5co-page {
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.fh5co-offcanvas #fh5co-page {
  -moz-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -o-transform: translateX(-240px);
  transform: translateX(-240px);
}

@media screen and (max-width: 768px) {
  #fh5co-menu-wrap {
    display: none;
  }
}

#offcanvas-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 99;
  background: #222;
  right: -240px;
  width: 240px;
  padding: 20px;
}
#offcanvas-menu ul {
  padding: 0;
  margin: 0;
}
#offcanvas-menu ul li {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
}
#offcanvas-menu ul li a {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.4);
}
#offcanvas-menu ul li a:hover {
  color: #79c34f;
}
#offcanvas-menu ul li > .fh5co-sub-menu {
  margin-top: 9px;
  padding-left: 20px;
}
#offcanvas-menu ul li.active > a {
  color: #79c34f;
}

.fh5co-nav-toggle {
  cursor: pointer;
  text-decoration: none;
}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
  background: #fff;
}
.fh5co-nav-toggle.dark.active i::before, .fh5co-nav-toggle.dark.active i::after {
  background: #fff;
}
.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.fh5co-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 30px;
  height: 2px;
  color: #fff;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #fff;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
  content: '';
  width: 30px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.fh5co-nav-toggle.dark i {
  position: relative;
  color: #000;
  background: #000;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle.dark i::before, .fh5co-nav-toggle.dark i::after {
  background: #000;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}

.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 9999;
  display: block;
  margin: 0 auto;
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .fh5co-nav-toggle {
    display: block;
    top: 0px;
    margin-top: 2.5em;
  }
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
}

.row-top-padded-lg {
  padding-top: 7em;
}
@media screen and (max-width: 768px) {
  .row-top-padded-lg {
    padding-top: 2em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}

.row-top-padded-md {
  padding-top: 4em;
}
@media screen and (max-width: 768px) {
  .row-top-padded-md {
    padding-top: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 2em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}

.row-top-padded-sm {
  padding-top: 2em;
}
@media screen and (max-width: 768px) {
  .row-top-padded-sm {
    padding-top: 2em;
  }
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.lead {
  line-height: 1.8;
}

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.fh5co-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/hourglass.svg) center no-repeat #222222;
}

/*# sourceMappingURL=style.css.map */

