﻿@model AisleOfPlans.View_Models.ServiceRequestViewModel


<li class="col-md-6 col-xs-6 follow line" align="center">
    50/200 <br /> <span>ACCEPTED</span>
</li>
<li class="col-md-6 col-xs-6 follow line" align="center">
    10/200 <br /> <span>DECLINED</span>
</li>

