﻿<!DOCTYPE html>
<html>
<head>


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="~/Content/images/AoP-B.png">
    <meta name="description" content="Holding your hand to the alter" />
    <meta name="theme-color" content="#ffffff">

    <!-- Normalize -->
    <link rel="stylesheet" type="text/css" href="~/Content/home-normalize.css">
    <!-- Bootstrap -->
    <!-- Animate.css -->
    <link rel="stylesheet" type="text/css" href="~/Content/home-animate.css">
    <!-- Theme style  -->
    <link rel="stylesheet" type="text/css" href="~/Content/home-style.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/Scripts/jquery.js"></script>
    <!-- jQuery Easing -->
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/Scripts/home-bootstrap.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>

   
    <!-- Modernizr JS -->
    <script src="~/Scripts/home-modernizr-2.6.2.min.js"></script>

    <script type="text/javascript" src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>



    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!-->
 
    <!--<![endif]-->
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">

    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/home-respond.min.js"></script>
    <![endif]-->
    @Styles.Render("~/Content/css2")
    @Scripts.Render("~/bundles/modernizr")


    <style>
        a{
            color:aliceblue
        }

        .carousel-inner{
            max-height:720px;
        }
       
       #footer
       {
            background-image:url(../../Content/images/darkwood.jpg);
           width:100%;
           margin:0;
       }
        .navbar{
            background-image:url(../../Content/images/darkwood.jpg)
        }
        .navbar-header .navbar-brand {
           
            color: #fff;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 2px;
        }

            .navbar-header .navbar-brand span {
                color: #30a5ff;
            }

        .top-nav {
            
            padding: 0 15px;
        }

            .top-nav > li {
                display: inline-block;
                float: left;
            }

                .top-nav > li > a {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    line-height: 20px;
                    color: #999;
                }

                    .top-nav > li > a:hover,
                    .top-nav > li > a:focus,
                    .top-nav > .open > a,
                    .top-nav > .open > a:hover,
                    .top-nav > .open > a:focus {
                        color: #fff;
                        background-color: #000;
                    }

            .top-nav > .open > .dropdown-menu {
                float: left;
                position: absolute;
                margin-top: 0;
                border: 1px solid rgba(0,0,0,.15);
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                background-color: #fff;
                -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
                box-shadow: 0 6px 12px rgba(0,0,0,.175);
            }

                .top-nav > .open > .dropdown-menu > li > a {
                    white-space: normal;
                }

        ul.message-dropdown {
            padding: 0;
            max-height: 250px;
            overflow-x: hidden;
            overflow-y: auto;
        }

        li.message-preview {
            width: 275px;
            border-bottom: 1px solid rgba(0,0,0,.15);
        }

            li.message-preview > a {
                padding-top: 15px;
                padding-bottom: 15px;
            }

        li.message-footer {
            margin: 5px 0;
        }

        ul.alert-dropdown {
            width: 200px;
        }
    </style>
</head>
<body>
    <div id="wrapper" style="background-image:url(../../Content/images/lightwood.jpg)">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
             <div class="navbar-header">
                 <div class="navbar-brand">
                     <a href=@Url.Action( "Index", "Home") style="color:aliceblue">
                         <span>
                             <img style="width:10%" src="~/Content/images/logo2.png" />
                         </span>
                         The Aisle Of Plans
                     </a>
                 </div>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Top Menu Items -->

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-dark top-nav ">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "btn navbar-btn" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "btn navbar-btn" })</li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home", new { area = "" }, new { @class = "btn navbar-btn" })</li>
                    @if (Session["UserID"] != null)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav navbar-dark top-nav" }))
                {
                            @Html.AntiForgeryToken()
                            @Html.Partial("_LoginPartial")
                            <li class="pull-lg-right">@Html.ActionLink("Profile", "Index", "Profile", routeValues: null, htmlAttributes: new { title = "Profile", @class = "pull-right btn navbar-btn" })</li>
                           
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.Partial("_LoginPartial")
                        }
                    }
                </ul>
                
            </div>
        </nav>

        <div >
            @RenderBody()
            <hr />

            <footer>
                <div id="footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Copyright 2016 @Html.ActionLink("The Aisle of Plans", "Index", "Home", new { area = "" })
                                . All Rights Reserved. <br>Created by <a href="#"> Kintsugi </a></p>
                            </div>
                            <div class="col-md-6">
                                <ul class="footer-menu">
                                    <li>
                                        <img src="~/Content/images/instagram.png" alt="Instagram">
                                    </li>
                                    <li>
                                        <img src="~/Content/images/facebook.png" alt="Facebook">
                                    </li> 
                                    <li>
                                        <img src="~/Content/images/tumblr.png" alt="Tumblr">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
           
    </div>
        @Scripts.Render("~/bundles/jquery")
      
        @RenderSection("scripts", required: false)
</body>
</html>
