﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
   
        <li class="pull-right pull-sm-left pull-xs-left" ><a class="btn navbar-btn" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
}
else
{
    
        <li class="pull-right">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn navbar-btn" })</li>

}
