﻿@model AisleOfPlans.View_Models.VendorViewModel

@{
    Layout = null;
   
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendor </title>
    <script src="~/Scripts/Chart.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/easy-styles.css")
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div class="navbar-brand">
                    <a href=@Url.Action( "Index", "Home") style="color:aliceblue">
                        <span>
                            <img style="width:10%" src="~/Content/images/logo2.png" />
                        </span>
                        The Aisle Of Plans
                    </a>
                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <ul class="nav navbar-dark top-nav ">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "btn navbar-btn" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "btn navbar-btn" })</li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home", new { area = "" }, new { @class = "btn navbar-btn" })</li>

                    <li class="pull-right">
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav navbar pull-left" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Partial("_LoginPartial")
                        }
                    </li>

                    <li class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user"></i>@Model.Business_Name <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <span>
                                    <i class="fa fa-fw fa-edit"></i>
                                    <a class="btn btn-default" href="@Url.Action("EditVendorProfile", "Profile")">Edit Profile</a>
                                </span>
                            </li>
                            <li>
                                <span><i class="fa fa-fw fa-gear"></i><a class="btn btn-default" href="@Url.Action("Index", "Manage")">Account Settings</a></span>
                            </li>   
                        </ul>
                    </li><!--End of profile dropdown-->

                    <li class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i><span class="badge-red">1</span> <b class="caret"></b></a>
                        <!--Notification Button-->
                        <ul class="dropdown-menu message-dropdown">
                            <li class="message-preview">
                                <a href="#">
                                    <div class="media">
                                        <span class="pull-left">
                                            <!---img class="media-object img-thumbnail" width="40" src="" alt=""-->
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                               
                                            </h5>
                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Time received</p>
                                            <p>You have a new request</p>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li class="message-footer">
                                <a href="#">See all notifications</a>
                            </li>
                        </ul>
                    </li><!--End of notification dropdown-->
                </ul>
            </div>



            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="@Url.Action( "Index")"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>

                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#ManageCatalogue"><i class="fa fa-pencil-square-o"></i> Manage Catalogues <i class="caret"></i></a>
                        <ul id="ManageCatalogue" class="collapse">
                            <li>
                                <a href="@Url.Action( "Create", "Catalog")"><i class="fa fa-plus"></i>Create a New Catalogue</a>
                            </li>
                            <li>
                                <a href="@Url.Action( "Index", "Catalog")"><i class="fa fa-pencil"></i>View Catalogues</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#Requests"><i class="fa fa-envelope"></i>View Service Requests <i class="caret"></i></a>
                        <ul id="Requests" class="collapse">
                            <li>
                                <a href="@Url.Action( "Index", "Request", new { status = "Pending" })">Pending Requests</a>
                            </li>
                            <li>
                                <a href="@Url.Action( "Index", "Request", new { status = "Accepted" })">Accepted Requests</a>
                            </li>
                            <li>
                                <a href="@Url.Action( "Index", "Request", new { status = "Complete" })">Complete Requests</a>
                            </li>
                            <li>
                                <a href="@Url.Action( "Index", "Request", new { status = "Cancelled" })">Cancelled Requests</a>
                            </li>
                            <li>
                                <a href="@Url.Action( "Index", "Request", new { status = "Declined" })">Declined Requests</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#ReportTypes"><i class="fa fa-pie-chart"></i> View Reports <i class="caret"></i></a>
                        <ul id="ReportTypes" class="collapse">
                           <li>
                               <a href="@Url.Action( "Index", "VendorReports", new { type = "Content"})"><i class="fa fa-diamond"></i>Product Report</a>
                           </li> 
                           <li>
                                <a href="@Url.Action( "Index", "VendorReports", new { type = "Request"})"><i class="fa fa-envelope-o"></i>Request Report</a>
                           </li> 
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        @RenderBody()
                        <hr />
                        <footer>
                            <div id="footer">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>
                                                Copyright 2016 @Html.ActionLink("The Aisle of Plans", "Index", "Home", new { area = "" })
                                                . All Rights Reserved. <br>Created by <a href="#"> Kintsugi </a>
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="footer-menu">
                                                <li>
                                                    <img src="~/Content/images/instagram.png" alt="Instagram">
                                                </li>
                                                <li>
                                                    <img src="~/Content/images/facebook.png" alt="Facebook">
                                                </li>
                                                <li>
                                                    <img src="~/Content/images/tumblr.png" alt="Tumblr">
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->
        </div>
    </div>
    <!-- /#wrapper -->

    @Scripts.Render("~/bundles/jquery");

    @RenderSection("scripts", required: false)
</body>

</html>
