﻿@model AisleOfPlans.View_Models.ClientViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/Scripts/jquery.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/Chart.min.js"></script>
     @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/easy-styles.css")
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div class="navbar-brand">
                    <a href=@Url.Action( "Index", "Home") style="color:aliceblue">
                        <span>
                            <img style="width:10%" src="~/Content/images/logo2.png" />
                        </span>
                        The Aisle Of Plans
                    </a>
                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <ul class="nav navbar-dark top-nav ">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "btn navbar-btn" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "btn navbar-btn" })</li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home", new { area = "" }, new { @class = "btn navbar-btn" })</li>

                    <li class="pull-right">
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav navbar pull-left" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Partial("_LoginPartial")
                        }
                    </li>

                    <li class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user"></i>
                            Mr and Mrs @Model.Lastname

                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <span><i class="fa fa-fw fa-edit"></i>
                                    <a class="btn btn-default" href="@Url.Action("EditClientProfile", "Profile")">Edit Profile</a>
                                </span>
                            </li>
                            <li>
                                <span><i class="fa fa-fw fa-gear"></i><a  class="btn btn-default" href="@Url.Action("Index", "Manage")">Account Settings</a></span>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i><span class="badge">14</span> <b class="caret"></b></a>
                        <!--Notification Button-->
                        <ul class="dropdown-menu message-dropdown">
                            <li class="message-preview">
                                <a href="#">
                                    <div class="media">
                                        <span class="pull-left">
                                            <img class="media-object img-thumbnail" width="40" src="@Model.Pic_Location" alt="">
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <strong>Mr and Mrs @Model.Lastname</strong>
                                            </h5>
                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Time received</p>
                                            <p>Your request was accepted</p>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li class="message-footer">
                                <a href="#">See all notifications</a>
                            </li>
                        </ul>
                    </li><!-- notification dropdown -->
                </ul><!--nav navbar-dark top-nav -->
            </div><!-- navbar-header -->
           
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse" >
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="@Url.Action( "Index")"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>

                    </li>
                    <li id="Plans">
                        @{
                            Session["model"] = Model;
                        }
                        @Html.Partial("_PlanPartial",Model)
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#Requests"><i class="fa fa-envelope"></i>View Service Requests <i class="caret"></i></a>
                        <ul id="Requests" class="collapse">
                            <li>
                                <a href="@Url.Action( "Index", "Request", new { status = "Pending" })">Pending Requests</a>
                            </li>
                            <li>
                                <a href="@Url.Action( "Index", "Request", new { status = "Accepted" })">Accepted Requests</a>
                            </li>
                            <li>
                                <a href="@Url.Action( "Index", "Request", new { status = "Complete" })">Complete Requests</a>
                            </li>
                            <li>
                                <a href="@Url.Action( "Index", "Request", new { status = "Cancelled" })">Cancelled Requests</a>
                            </li>
                            <li>
                                <a href="@Url.Action( "Index", "Request", new { status = "Declined" })">Declined Requests</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action( "Index", "Wedding")"><i class="fa fa-birthday-cake"></i> Wedding Details</a>
                    </li>   
                </ul><!--nav navbar-nav side-nav -->
            </div><!-- /.navbar-collapse -->
        </nav>
   
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        @RenderBody()
                        <hr />
                        <footer>
                            <div id="footer">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>
                                                Copyright 2016 @Html.ActionLink("The Aisle of Plans", "Index", "Home", new { area = "" })
                                                . All Rights Reserved. <br>Created by <a href="#"> Kintsugi </a>
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="footer-menu">
                                                <li>
                                                    <img src="~/Content/images/instagram.png" alt="Instagram">
                                                </li>
                                                <li>
                                                    <img src="~/Content/images/facebook.png" alt="Facebook">
                                                </li>
                                                <li>
                                                    <img src="~/Content/images/tumblr.png" alt="Tumblr">
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
</div>
    <!-- /#wrapper -->



    @RenderSection("scripts", required: false)
</body>

</html>
