﻿@model AisleOfPlans.View_Models.ClientViewModel

    <a href="javascript:;" data-toggle="collapse" data-target="#PlanList"><i class="fa fa-pencil-square-o"></i> Plan <i class="caret"></i></a>
    <ul id="PlanList" class="collapse">
        @foreach (var item in Model.listOfPlans)
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    @Html.DisplayFor(modelItem => item.Plan_Name)
                    

                    @if (item.Status.CompareTo("Deactivated") == 0)
                    {
                        <span class="label label-warning">Cancelled</span>
                    }
                    <span class="caret pull-right"></span>

                </a>
                <ul class="dropdown-menu dropdown-menu-right">

                    @if (item.Status.CompareTo("Deactivated") == 0)
                    {
                        <li>

                            @Ajax.ActionLink("Activate", "Activate", "Plan", routeValues: new { id = item.Plan_ID }, ajaxOptions: new AjaxOptions
                                           {
                                               UpdateTargetId = "Plans",
                                               HttpMethod = "POST",
                                               InsertionMode = InsertionMode.Replace
                                           })
                            
                        </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Complete", "Index", "PlanObjective", new { id = item.Plan_ID }, null);</li>

                                            <li>@Html.ActionLink("Edit", "Edit", "Plan", new { id = item.Plan_ID }, null);</li>

                                            <li>
                                                @Ajax.ActionLink("Cancel", "Cancel", "Plan", routeValues: new { id = item.Plan_ID }, ajaxOptions: new AjaxOptions
                                           {
                                               UpdateTargetId = "Plans",
                                               HttpMethod = "POST",
                                               InsertionMode = InsertionMode.Replace
                                           })


                                            </li>
                    }


                </ul><!--End plan options dropdown-->
            </li><!--Plan list item-->
        }
    </ul><!--Plan collapsable-->
