﻿@if (Session["UserID"] == null)
{
    <div class="row">
        <div class="col-md-6">
            <h2>Couples</h2>
            <p>
                The Aisle of Plans is a platform that allows brides and grooms to plan
                their future ceremonies with ease by using the simple wedding planning system
                while getting access to a large variety of quality vendors.
            </p>
            <p>
                @Html.ActionLink("Register", "Register", "Account",
          routeValues: new { userType = 1 }, htmlAttributes: new { id = "registerLink" })
            </p>
        </div>
        <div class="col-md-6">
            <h2>Vendors</h2>
            <p>
                If you are a vendor that is looking to take on the honor of contributing
                to the special experience of wedding ceremonies by providing a unique service
                then create your account and gain access to robust catalog management system.
            </p>
            <p>
                @Html.ActionLink("Register", "Register", "Account",
          routeValues: new { userType = 2 }, htmlAttributes: new { id = "registerLink" })
            </p>
        </div>

    </div>

}

