﻿@model AisleOfPlans.View_Models.CatalogueViewModel

@{
    ViewBag.Title = Model.Title;
}

<h2>Delete @ViewBag.Title </h2>

<h3>Are you sure you want to delete this Catalogue?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List of Catalogues", "Index")
        </div>
    }
</div>
