﻿@model IEnumerable< AisleOfPlans.View_Models.CatalogueViewModel>

@{
    ViewBag.Title = "Catalogues";
}

<h2>Catalogues</h2>

<p>
    @Html.ActionLink("Create New", "Create", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
</p>



@foreach (var cat in Model)
{
    <div class="row">
        <div class="col-lg-12" style="background-color:azure">
            <h2>@Html.DisplayFor(c => cat.Title)</h2>
            <div class="pull-right btn-group">
                <div class="btn "> @Html.ActionLink("Delete", "Delete", new { id = cat.ID }, htmlAttributes: new { @class = "btn btn-primary" })</div>
                <div class="btn ">@Html.ActionLink("Edit", "Edit", new { id = cat.ID }, htmlAttributes: new { @class = "btn btn-primary" })</div>
                <div class="btn ">@Html.ActionLink("View", "Index", "Item", routeValues: new { id = cat.ID }, htmlAttributes: new { @class = "btn btn-primary" })</div>
            </div>
        </div>
    </div>
    <hr />
}
