﻿@model AisleOfPlans.View_Models.WeddingViewModel

@{
    IList<SelectListItem> listOfThemes = new List<SelectListItem>();

    SelectListItem modernItem = new SelectListItem();
    modernItem.Text = "Modern";
    listOfThemes.Add(modernItem);

    SelectListItem traditionalItem = new SelectListItem();
    modernItem.Text = "Traditional";
    listOfThemes.Add(traditionalItem);

    SelectListItem futuristicItem = new SelectListItem();
    modernItem.Text = "Futuristic";
    listOfThemes.Add(futuristicItem);

    SelectListItem minimalistItem = new SelectListItem();
    modernItem.Text = "Minimalist";
    listOfThemes.Add(minimalistItem);

    SelectListItem customItem = new SelectListItem();
    modernItem.Text = "Multi-themed";
    listOfThemes.Add(customItem);

    SelectListItem avangardItem = new SelectListItem();
    modernItem.Text = "Avant Garde";
    listOfThemes.Add(avangardItem);

    SelectListItem artistic = new SelectListItem();
    modernItem.Text = "Artistic";
    listOfThemes.Add(avangardItem);

}

<h2>Please tell us about your plan</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>WeddingViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.WeddingDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WeddingDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WeddingDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Theme, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Theme,listOfThemes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Theme, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.budget.Budget_Available, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.budget.Budget_Available, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.budget.Budget_Available, "", new { @class = "text-danger" })
            </div>
        </div>

        <h4>Optional</h4>

        <div class="form-group">
            @Html.LabelFor(model => model.Street, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Suburb, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.Suburb, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Province, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.Province, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
