﻿@model AisleOfPlans.View_Models.WeddingViewModel

@{
    IList<SelectListItem> listOfThemes = new List<SelectListItem>();

    SelectListItem modernItem = new SelectListItem();
    modernItem.Text = "Modern";
    listOfThemes.Add(modernItem);

    SelectListItem traditionalItem = new SelectListItem();
    traditionalItem.Text = "Traditional";
    listOfThemes.Add(traditionalItem);

    SelectListItem futuristicItem = new SelectListItem();
    futuristicItem.Text = "Futuristic";
    listOfThemes.Add(futuristicItem);

    SelectListItem minimalistItem = new SelectListItem();
    minimalistItem.Text = "Minimalist";
    listOfThemes.Add(minimalistItem);

    SelectListItem customItem = new SelectListItem();
    customItem.Text = "Multi-themed";
    listOfThemes.Add(customItem);

    SelectListItem avangardItem = new SelectListItem();
    avangardItem.Text = "Avant Garde";
    listOfThemes.Add(avangardItem);

    SelectListItem artistic = new SelectListItem();
    artistic.Text = "Artistic";
    listOfThemes.Add(artistic);

}

<h2>Edit Wedding Details</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Wedding_ID)
        @Html.HiddenFor(model => model.budget.Budget_ID)

        <div class="form-group">
            @Html.LabelFor(model => model.WeddingDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.WeddingDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                @Html.ValidationMessageFor(model => model.WeddingDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Theme, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Theme, listOfThemes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Theme, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.budget.Budget_Available, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.budget.Budget_Available, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.budget.Budget_Available, "", new { @class = "text-danger" })
            </div>
        </div>

        <h4>Optional</h4>

        <div class="form-group">
            @Html.LabelFor(model => model.Street, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Suburb, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.Suburb, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Province, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.Province, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Wedding", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function(){
            $('.datetimepicker').datepicker();

            });
    </script>
}
