﻿@model AisleOfPlans.View_Models.WeddingViewModel

@{
   
}

<h2>View Wedding Details</h2>

<div>
    <h4>Celebrating the union of @Model.Client.Partner1_Name and @Model.Client.Partner2_Name</h4>
    <img src="@Model.Client.Pic_Location" alt="Mr and Mrs @Model.Client.Lastname's Picture"/>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.HiddenFor(model => model.Client_ID)
        </dt>

        <dd>
            @Html.HiddenFor(model => model.Wedding_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeddingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeddingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Theme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theme)
        </dd>

    </dl>

    <!--//////////////////////////////Google Map of Location of Wedding/////////////////////////////////////////////////////////-->

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { WeddingID = Model.Wedding_ID}) |
    @Html.ActionLink("Back to Profile", "Index","Profile")
</p>
