﻿@model AisleOfPlans.Models.PlanViewModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PlanViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Plan_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plan_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wedding_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wedding_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority_level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority_level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanType_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanType_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deadline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount_Complete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount_Complete)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
