﻿@model IEnumerable<AisleOfPlans.View_Models.PlanViewModel>

@{
    ViewBag.Title = "Index";

}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Plan_Name)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deadline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount_Complete)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr >
        <td>
            @Html.DisplayFor(modelItem => item.Plan_Name)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deadline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount_Complete)
        </td>
        <td>
            @if (item.Status.CompareTo("Deactivated") == 0)
            {
                @Ajax.ActionLink("Activate", "Activate", routeValues: new {id = item.Plan_ID }, ajaxOptions: new AjaxOptions
           {
               UpdateTargetId = "body",
               HttpMethod = "POST",
               InsertionMode = InsertionMode.Replace
           }, htmlAttributes: new { @class = "btn btn-primary" })
            }
            else
            {
                @Html.ActionLink("Complete", "Index","PlanObjective", new { id = item.Plan_ID }, htmlAttributes: new { @class="btn btn-primary"});

                @Html.ActionLink("Edit", "Edit", new { id = item.Plan_ID }, htmlAttributes: new { @class = "btn btn-primary" });

                @Ajax.ActionLink("Cancel", "Cancel", routeValues: new {id = item.Plan_ID }, ajaxOptions: new AjaxOptions
           {
               UpdateTargetId = "body",
               HttpMethod = "POST",
               InsertionMode = InsertionMode.Replace
           }, htmlAttributes: new { @class = "btn btn-primary" })
                
            }
          
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to Profile", "Index", "Profile", routeValues: "#", htmlAttributes: new { @class = "btn btn-primary" })
</div>