﻿@model AisleOfPlans.View_Models.ClientViewModel

@{
    ViewBag.Title = "EditClientProfile";
}

<h2>Edit Profile</h2>


@using (Html.BeginForm(Html.BeginForm("EditClientProfile", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" })))
{
    @Html.AntiForgeryToken()
    
   
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Client_ID)

        <div class="row pull-right">
            <div class="col-lg-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Image, htmlAttributes: new { @type = "file", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Partner1_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Partner1_Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Partner1_Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Partner2_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Partner2_Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Partner2_Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Lastname, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to profile", "LoadClientProfile", "Profile")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
