﻿@model AisleOfPlans.View_Models.ClientViewModel

@{
    Layout ="~/Views/Shared/_LoggedInClientLayout.cshtml";
    ViewBag.Title = "ClientProfile";

    var daysLeft = Math.Round(@Model.ClientWedding.WEDDING_DATE.Subtract(System.DateTime.Now).TotalDays);
    int totalProgress = 0;

    //Planning process variablles
    double overallProgress = 0;
    double numPlans = 0;
    int[] amountComplete = new int[Model.listOfPlans.Count];
    int[] costPerPlan = new int[amountComplete.Length];

    int i = 0;
    foreach(AisleOfPlans.View_Models.PlanViewModel p in Model.listOfPlans)
    {
        if(Model.budget.BUDGET_USED == 0)
        {
            costPerPlan[i] = 0;
        }
        else
        {
            costPerPlan[i] = (int)((p.Cost / Model.budget.BUDGET_USED) * 100);
        }


        if (p.Status.CompareTo("Deactivated") == 0)
        {
            amountComplete[i] = p.Amount_Complete; i++; continue;
        }
        else
        {
            amountComplete[i] = p.Amount_Complete;


            numPlans += 1.0;
            totalProgress += p.Amount_Complete;

            i++;
        }
    }

    overallProgress = Math.Floor(totalProgress / numPlans);

    //Budget variables
    int budgetAvailable = Model.budget.BUDGET_AVAILABLE;
    int budgetUsed = Model.budget.BUDGET_USED;

    int budgetLeft = (int)(budgetAvailable - budgetUsed);
}

    <div class="row container-fluid" >
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="col-lg-12">
                <div class="panel panel-blue">
                    <div class="panel-heading " style="text-align:center">Overrall Planning Completion</div>
                    <div class="panel-body">
                        <div class="easypiechart" id="easypiechart-teal" data-percent="@overallProgress">
                            <span style="color:white" class="percent">@overallProgress%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-blue">
                    <div class="panel-heading " style="text-align:center">Plans and Progress</div>
                    <div class="panel-body">
                        <div class="canvas-wrapper" style="color:#cc55ff">
                            <canvas class="main-chart" id="planning-area" style="width:100%; max-height:200px"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6  col-md-6 col-sm-12">
            <div class="panel panel-blue">
                <div class="panel-heading " style="text-align:center">Approximately R@(budgetUsed) Spent </div>
                <div class="panel-body">
                    <div class="canvas-wrapper">
                        <canvas class="chart" id="budget-area" height="250"></canvas>
                        @if (budgetUsed < budgetAvailable)
                        {
                            <h3 class="label-success" style="text-align:center; color:whitesmoke">R @budgetLeft of R @budgetAvailable left</h3>
                        }
                        else
                        {
                            <h3 class="label-danger" style="text-align:center; color:whitesmoke">R@(budgetLeft*-1) Over Budget</h3>
                        }
                    </div>
                </div>
            </div>
        </div>
     </div>

 <h1 class="alert-info" style="text-align:center; color:#808080">@daysLeft Days 'til the Ceremony</h1>
 
    <script>
        ///////////////////////////////////////////Budget Doughnut///////////////////////////////////////////////////////
        if(@budgetUsed == 0)
        {
            var doughnutData = [{
                value: 0,
                color: "#808080",
                label: "No budget used"                               
            }];

            var canvas = document.getElementById("budget-area");
            var ctx = canvas.getContext("2d");
            new Chart(ctx).Doughnut(doughnutData, { responsive: true });
        }
        else if(@costPerPlan.Length > 0)
        {
            var doughnutData = [
                                       {
                                           value: @costPerPlan[0],
                                           color: "#ff0000",
                                           highlight: "#f86363",
                                           label: "% Used for Catering"                               
                                       },
                                       {
                                           value: @costPerPlan[1],
                                           color: "#ff6a00",
                                           highlight: "#f79854",
                                           label: "% Used for Venues"
                                       },
                                       {
                                           value: @costPerPlan[2],
                                           color: "#ffd800",
                                           highlight: "#feec8d",
                                           label: "% Used for Attire"
                                       },
                                       {
                                           value: @costPerPlan[3],
                                           color: "#f9243f",
                                           highlight: "#f6495f",
                                           label: "% Used for Vehicle Rentals"
                                       },
                                       {
                                           value: @costPerPlan[4],
                                           color: "#4cff00",
                                           highlight: "#97ff6b",
                                           label: "% Used for Guestlist"
                                       },
                                       {
                                           value: @costPerPlan[5],
                                           color: "#1ebfae",
                                           highlight: "#3cdfce",
                                           label: "% Used for Entertainment"
                                       },
                                       {
                                           value: @costPerPlan[6],
                                           color: "#b200ff",
                                           highlight: "#cc55ff",
                                           label: "% Used for Special"
                                       }

            ];

            var canvas = document.getElementById("budget-area");
            var ctx = canvas.getContext("2d");
            new Chart(ctx).Doughnut(doughnutData, { responsive: true });
        }
       
        if(@amountComplete.Length > 0)
        {
            var barChartData = {
                labels: ["% Catering", "% Venues", "% Attire", "% Vehicles", "% Guest", "% Fun", "% Media", "% Style", "% Decor"],
                datasets: [
                    {
                        fillColor: "rgba(48, 164, 255, 0.2)",
                        strokeColor: "rgba(48, 164, 255, 0.8)",
                        highlightFill: "rgba(48, 164, 255, 0.75)",
                        highlightStroke: "rgba(48, 164, 255, 1)",
                        data: [@amountComplete[0], @amountComplete[1], @amountComplete[2],@amountComplete[3], @amountComplete[4],
                            @amountComplete[5], @amountComplete[6], @amountComplete[7], @amountComplete[8]]
                    }
                ]

            }

            var canvas = document.getElementById("planning-area");
            var ctx = canvas.getContext("2d");
            new Chart(ctx).Bar(barChartData, { label: 'percent', responsive: true });
        } 

    </script>

@section Scripts{
    @Scripts.Render("~/bundles/charts")
    }
