﻿@model AisleOfPlans.View_Models.VendorViewModel

@{
    Layout = "~/Views/Shared/_LoggedInVendorLayout.cshtml";
    ViewBag.Title = "ClientProfile";

}
<div class="row container-fluid">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <ul class="list-unstyled">
            <li class="col-md-12 col-xs-12" align="center">
                <h1>@Model.Business_Name</h1>
                <div class="outter">
                    <img src="@Model.Logo_Location" alt="vendor-logo" class="img-thumbnail" style="max-height:400px"/>
                </div>
            </li>
            <li>
                @Model.Description
            </li>
            <li>
                 You currently have @Model.NumCatalogues
            </li>
            <li>
               You provide a total of @Model.NumItems products
            </li>
        </ul>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading label-info" style="text-align:center">Approximate Earnings</div>
                @if (Model.approxEarnings.TotalEstEarnings > 0)
                {
                    <div class="panel-body">

                    </div>
                    <div class="panel-footer">
                            <h2 class="label-success" style="color:whitesmoke; text-align:center;">Total Made R @Model.approxEarnings.TotalEstEarnings</h2>
                    </div>
                }
                else
                {
                    <div class="panel-body">
                        <h2 class="label-warning">No Service Requests Completed yet</h2>
                    </div>
                }  
            </div>
        </div>
    </div>
</div>



