﻿@model IEnumerable<AisleOfPlans.View_Models.ItemViewModel>

@{
    ViewBag.Title = "Items";

}


@if (Model.Count() == 0)
{
    <h1 style="text-align:center">No items found</h1>
}
else
{
    <h2>@ViewBag.Title</h2>
}
<div class="row">

    @foreach (var item in Model)
    {
        <div class="card-">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <img class="card-img-top img-thumbnail" src="@item.Url" alt="Image of @item.Name">
                <div class="card-block">
                    <h4 class="card-title">
                        @Html.DisplayFor(modelItem => item.Name)
                    </h4>
                    <p class="card-text">
                        R @item.Price
                    </p>
                   
                    @Html.ActionLink("Request", "Create", "Request", new { id = item.ID }, htmlAttributes: new { @class = "btn btn-primary" })

                </div>
            </div>

        </div>
    }
</div>

         
