﻿@model AisleOfPlans.View_Models.ItemViewModel


<h2>Delete @Model.Name</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ItemViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           <img src=@Html.DisplayFor(item => item.Url) alt="Image of 
                 @Html.DisplayFor(model => model.Name)" class="img-responsive"/>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List Items", "Index")
        </div>
    }
</div>
