﻿@model IEnumerable<AisleOfPlans.View_Models.ItemViewModel>

@{
    ViewBag.Title = "Catalogue Items";

}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
    @Html.ActionLink("Back to Catalogs", "Index", "Catalog", routeValues: new { id = Session.Contents["VendorID"].ToString() }, htmlAttributes: new { @class = "btn btn-primary" })
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="card-">
            <div class="col-lg-3">
                <img class="card-img-top img-thumbnail" src="@item.Url" alt="Image of @item.Name">
                <div class="card-block">
                    <h4 class="card-title">
                        @Html.DisplayFor(modelItem => item.Name)
                    </h4>
                    <p class="card-text">
                        R @item.Price
                    </p>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </div>
            </div>

        </div>
    }

</div>
