﻿@model IEnumerable<AisleOfPlans.View_Models.PlanObjectiveViewModel>

@{

    ViewBag.Title = "Index";
}

<h2 >List of objectives</h2>

<div>
    @Html.ActionLink("Back to Plans", "Index", "Plan", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
</div>


        @foreach (var item in Model)
        {
            <div class="btn-group" id="options">
                @if (item.Status.CompareTo("Disabled") != 0)
                {
                @Ajax.ActionLink(item.Name, "Browse", "Item", routeValues: new { objective = item.Name }, ajaxOptions: new AjaxOptions
           {
               UpdateTargetId = "browse-view",
               HttpMethod = "POST",
               InsertionMode = InsertionMode.Replace
           }, htmlAttributes: new { @type = "button", @class = "btn btn-default dropdown-toggle" })
                }
                else
                {
                <button type="button" class="btn btn-default">@item.Name</button>
                }



                <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-v"></i>
                </button>


                <ul class="dropdown-menu">

                    <li>
                        @if (item.Status.CompareTo("Disabled") == 0)
                        {
                            @Ajax.ActionLink("Enable", "Enable", routeValues: new { id = item.Objective_ID }, ajaxOptions: new AjaxOptions
                       {
                           UpdateTargetId = "options",
                           HttpMethod = "POST",
                           InsertionMode = InsertionMode.Replace
                       }, htmlAttributes: new { @class = "dropdown-item" })
                        }
                        else
                        {

                            @Ajax.ActionLink("Disable", "Disable", routeValues: new { id = item.Objective_ID }, ajaxOptions: new AjaxOptions
                       {
                           UpdateTargetId = "options",
                           HttpMethod = "POST",
                           InsertionMode = InsertionMode.Replace
                       }, htmlAttributes: new { @class = "dropdown-item" })
                        }
                    </li>

                </ul>
            </div>

        } <!--For Loop-->





<div id="browse-view">

</div>
