﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<iframe style="width:100%" id="iframe_container" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" width="720" height="480" src="https://prezi.com/embed/e6483ca986b8ccc8b24b2c4ed9c0bfa58d5ea1a6/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;landing_data=bHVZZmNaNDBIWnNjdEVENDRhZDFNZGNIUE43MHdLNWpsdFJLb2ZHanI0aXduZGxaUTlhK0lhaFp3cG1LdkJpb2hnPT0&amp;landing_sign=eVMQLgCkm6zEhBXUhhV1ZxaoNJvlawPnzkPOXk7v_fY"></iframe>
