﻿@{
    ViewBag.Title = "Home Page";
}

<div id="LO-Carousel" class="carousel slide">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#LO-Carousel" data-slide-to="0" class="active"></li>
        <li data-target="#LO-Carousel" data-slide-to="1"></li>
        <li data-target="#LO-Carousel" data-slide-to="2"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="item active">
            <img class="img-responsive" src="~/Content/images/home.jpg" alt="First slide">
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/images/wedding-planning-img-11.jpg" alt="Second slide">
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/images/roughwood.jpg" alt="Third slide">
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#LO-Carousel"
       data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#LO-Carousel"
       data-slide="next">&rsaquo;</a>
</div>

<br />

    <div class="container">
        <div class="row" style="padding-top:50px">
            <div class="col-md-6">
                <div class="featured-grid" style="background-image: url(../../Content/images/images2.jpg); background-color: #636878;">
                    <div class="desc">
                        <h3>R.S.V.P</h3>
                        <div class="login">

                            <p><input type="text" placeholder="Full Name" name="Guest Name"><br></p>

                            <p><input type="text" placeholder="Email" name="Guest Email"><br></p>

                            <p><input type="text" placeholder="Contact Number" name="Cellphone"><br></p>

                            <p><input type="radio" name="attendance" value="Yes" checked> Attending <br></p>

                            <p><input type="radio" name="attendance" value="No"> Not Attending <br></p>

                            <p><input type="text" placeholder="Number of Adults"></p>

                            <p><input type="text" placeholder="Number of Children"></p>

                            <p><input type="button" value="Submit"></p>
                        </div>
                    </div>
                    </div>
            </div>

            <div class="col-md-6">
                <div href="#" class="featured-grid featured-grid-2" style="background-image: url(../../Content/images/images1.jpg); background-color: slategrey;">
                    <div class="desc">
                        <h3>View Registry & Location</h3>

                        <div class="login">

                            <p><input type="text" placeholder="email" name="User Email"><br></p>

                            <p><input type="text" placeholder="Wedding #Ref" name="Wedding Reference Number"><br></p>

                            <p><input type="button" value="Submit"></p>

                        </div>

                        
                      
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <a href="@Url.Action("Register", "Account", routeValues: new { userType = 1 })" class="featured-grid featured-grid-2" style="background-image: url(../../Content/images/images12.jpg);  background-color: lightsteelblue;">
                            <div class="desc">
                                <h3>Client</h3>
                                <span>Registration</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <a href="@Url.Action("Register", "Account", routeValues: new { userType = 2 })" class="featured-grid featured-grid-2" style="background-image: url(../../Content/images/images8.jpg);  background-color: #5b8f6c;">
                            <div class="desc">
                                <h3>Vendor</h3>
                                <span>Registration</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>



